@import './base.css';

#app {
  height: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #2a9d8f;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(42, 157, 143, 0.15);
  }
}
